---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">首页</a>
        <a href="/about/">关于</a>
        <a href="/blog/">博客</a>
		<h1>关于MrSouthWall</h1>
        <p>我是 MrSouthWall 南墙先生，当初取这个名字是希望我自己“不撞南墙不回头”。</p>
        <h2>步入 iOS 开发是一个看似偶然，实则必然的机会</h2>
        <p>我从小就爱苹果产品，第一接触苹果是来自邻家小哥的 iPhone 4S，后来从我自己购买的第一个产品 iPod Shuffle 4，到现在的 iPhone 12、AirPods Pro、iPad Pro、iPhone 13 Pro Max、Mac Mini 等等，不知不觉已经成为一个合格的“果粉”。</p>
        <p>一开始使用 iPhone 12 时，我就已经是一名狂热的 App 爱好者，每天的乐趣就是探索新 App，比如用了很久的 Moze，还有昂贵的 Things 3。拥有 iPad 后，Notability 和 Goodnotes 也皆数买下。</p>
        <p>随着对这些 App 的探索和使用，发现他们本身很好，但是我的一些需求他们还是无法满足于我自己，我在给开发者反馈 Bug 和提议新功能的同时，我在想，为什么我不自己做一个 App？</p>
        <p>当时还没有 Mac，我便用 iPad 上的 Swift Playgrounds 先玩了起来，但玩没多久也就没有继续了。后来在工作中，公司给到了一台 Mac Book Pro 使用，从此一发不可收拾地踏入 iOS 开发的世界。</p>
        <p>我的 iOS 开发之旅，虽然是从一次公司偶然给到 Mac 开始的，但如果当时没有给到 Mac，我也会在后来自己购买一台 Mac 学习开发，所以这是必然的。</p>
        <h2>写博客的初心</h2>
        <p>虽然说目前 Swift 的学习资源蛮多的，但是我个人在学习的过程中还是遇到了不少问题，找不到答案，又或者是说看不懂别人的解决方案（因为我的本职工作是剪辑师，没有编程基础）。</p>
        <p>所以我希望我用我自己踩过的坑，再用最易懂的讲解，将 iOS 开发的知识延续下去。</p>
	</body>
</html>
